#navbar__buy_me_a_coffee {
  display: block;
  background: #fdd835;
  color: #000;
  border-radius: 25px;
  font-size: 0.875rem;
  margin: 0;
  padding: 0;
  padding: 0.5625rem 1rem;
  outline: none;
  border: none;
  cursor: pointer;
}
