#navbar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background: #323232;
  padding: 0 2.5rem;
  height: 5.625rem;
  user-select: none;
  h1 {
    font-size: 1.875rem;
    color: white;
    font-weight: bold;
    a {
      color: white;
      text-decoration: none;
    }
  }
  a {
    color: white;
    text-decoration: none;
  }
  @media screen and (max-width: 720px) {
    a[id="navbar__github_link"] {
      display: none;
    }
  }
}
